<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application
        android:name=".UniversalBrowserApp"
        android:theme="@style/AppTheme"
        android:label="Universal Browser"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:usesCleartextTraffic="false"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true">
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="@string/admob_app_id" />
        <activity android:name=".QrScannerActivity" android:exported="false" android:screenOrientation="unspecified" />
        <activity android:name=".ExtensionInstallActivity" android:exported="false" android:screenOrientation="unspecified" />
        <service
            android:name=".DownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
